<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Add Collection</title>
    <link rel="stylesheet" href="main.css">

  </head>
  <body>


    <nav>
          <a href="http://0.0.0.0:3000/">Home</a>
          <a href="http://0.0.0.0:3000/add-collection">Collection</a>
          <a href="http://0.0.0.0:3000/about">About</a>
    </nav>

     <h1>Add To Collections</h1>

     <div class="add-form">

    <form action="/add" method="post">

      <input class="input-field" type="text" placeholder="Make" name="make" value="">
      <br>
      <input class="input-field" type="text" placeholder="Model" name="model" value="">
      <br>
      <input class="input-field" type="text" placeholder="Year" name="year" value="">
      <br>
      <input class="input-field" type="text" placeholder="ImageURL" name="image" value="">
      <br>
      <input class="input-field" type="text" placeholder="Color" name="color" value="">
      <br>
      <input class="input-field"  type="text" placeholder="doors" name="door" value="">
      <br>
      <input class="btn" type="submit" name="submit" value="submit">
    </form>

    <div>

  </body>
</html>
